@use '../themes/default-theme-light' as light;
@use '../themes/theme-dark' as dark;

$themes: (
        'light': light,
        'dark': dark
        // Put here new styles
);

// Function to return the theme namespace based on preference
@function get-theme($preference) {
  @return map-get($themes, $preference, light);
}

// Function to determine the current theme
@function current-theme() {
  $theme-preference: var(--theme-preference, null);
  $system-preference: if($theme-preference == null and prefers-color-scheme: dark, 'dark', 'light');

  @return get-theme($theme-preference or $system-preference);
}

// Set the current theme
$theme: current-theme();

// Usage: $theme.$variable-name
