{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta name="color-scheme" content="light">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MediaFetchXpress{% endblock %}</title>
{% comment %}    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">{% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aquawebscss/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<header>MediaFetchXpress</header>
<nav class="navbar-top">
    <div>
        <a class="link-navigation" href="{% url 'index' %}">Home</a>
        <span> | </span>
        <a class="link-navigation" href="{% url 'add_group' %}">Add Group</a>
        <span> | </span>
        <a class="link-navigation" href="{% url 'events' %}">Events</a>
    </div>
</nav>

<main class="container mt-4">
    {% block content %}{% endblock %}
</main>

<script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
{% block extra_js %}{% endblock %}

</body>
</html>